.filter__container {
  margin-top: 10%;
  margin-left: 12%;
}

.filter__container > h4 {
  font-size: 18px;
}

.filter__linksContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}

.filter__links {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 5px 0;
  padding: 2px 0;
}
/* Price Filters */

.filter__links:hover {
  color: #e7811b;
}

/* Rating Filters */

.ratingFilter__starsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.ratingFilter__stars {
  display: flex;
  flex-direction: row;
  margin: 10px 10px;
}

.ratingFilter__stars > p {
  margin-left: 10px;
}

.ratingStars-outer {
  display: inline-block;
  position: relative;
}

.ratingStars-outer > i::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #e7821d;
}

.ratingStars-inner > i::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.ratingStars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.star0 {
  width: 80%;
}
.star1 {
  width: 60%;
}
.star2 {
  width: 40%;
}
.star3 {
  width: 20%;
}

.ratingFilter__stars:hover {
  text-decoration: underline;
  color: #e7811b;
}

/* Discount Filters*/

/* .__linkContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
} */
