.Button {
  background-color: #f5cc47;
  width: 17vw;
  height: 2.5vw;
  border: none;
  border-radius: 0.2vw;
  font-weight: bolder;
  font-size: 1vw;
  margin-bottom: 1vh;
  cursor: pointer;
}

.Button span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.Button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.Button:hover span {
  padding-right: 2vw;
}

.Button:hover span:after {
  opacity: 1;
  right: 0;
}
