.Coupon{
    margin-top: 0.5vw;
}
.Coupon button{
    background-color: brown;
    color: white;
    font-weight: bold;
    font-size: 1vw;
    width: max-content;
    height: max-content;
    padding:0.5vw 1vw;
    margin-left: 33%;
    outline: none;
    border: none;
}
