.wishlist-main h1 {
  text-align: center;
}
/* .wishLayout {
  display: flex;
} */
#wishlist-main {
  display: flex;
  margin-left: 35px;
  margin-top: 40px;
  width: 55%;
  /* justify-content: center; */
}
#product-name {
  font-weight: bold;
}
#description {
  font-size: 13px;
}

.wishlist-info {
  margin-top: 20px;
  margin-left: 20px;
}
.wishlist-info p {
  margin-top: 5px;
  margin-bottom: 5px;
}
#description-heading {
  font-weight: bold;
  font-size: 13px;
}
#description-heading:hover {
  cursor: pointer;
}
.wishlist-info button {
  background-color: #f5ce00;
  border-radius: 3px;
}
.wishlist-main h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.price {
  font-weight: bold;
  margin-bottom: 15px;
}
.stock {
  margin-left: 5px;
}
#wishlist-image {
  height: 30vh;
  width: 15vw;
  object-fit: contain;
}
.wishlist-buttons {
  display: flex;
}
.wishlist-buttons button {
  width: 17vw;
  height: 5vh;
  margin-bottom: 1vh;
  border: 1px solid #cccccc;
  font-weight: bold;
  font-size: small;
}

#add-to-cart {
  background-color: #f5ce00;
  width: 200px;
  margin: 2px;
  height: 30px;
  border-radius: 2px;
}
#remove-wishlist {
  background-color: #f5ce00;
  width: 50px;
  margin: 2px;
  height: 28px;
  border-radius: 2px;
  margin-top: 3px;
}

#add-to-cart:hover {
  cursor: pointer;
  background-color: rgb(206, 203, 203);
}
#remove-wishlist:hover {
  cursor: pointer;
  background-color: #eb756b;
}

@media screen and (max-width: 980px) {
  #wishlist-main {
    display: block;
    width: 90%;
  }
  .wishlist-image img {
    margin-left: 100px;
    width: 100px;
  }
  .wishlist-info {
    margin: 0px;
    text-align: center;
  }
  #wishlist-image {
    height: 22vh;
    width: 33vw;
    object-fit: contain;
  }
}
