.ProductImage{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(110, 110, 110);
    font-size: 1.2vw;
    font-weight: bolder;
    border-left: 0.5vw solid rgb(199, 199, 199);
}

.ProductImage img{
    height: 15vw;
    width: 15vw;
}

.ProductImage img:hover{
    height: 18vw;
    width:18vw;
}

.ProductTitle{
    width:80%;
    text-align: center;
}