.productSection__body {
  min-height: 100vh;
}

.productSection__main {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 960px) {
  .productSection__main {
    flex-direction: column;
  }
}
