/* .navbar__Link {
  text-decoration: none;
} */

.navbar_cart {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.navbar_cartIcon {
  /* padding: 20px; */
  height: 20px !important;
}

.navbar_cartText {
  font-size: 15px;
  text-transform: uppercase;
}
