/* ---------- Images ------------*/
.productImage__body {
  min-width: 40%;
}

.productImage__main {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
}

.productImage__left {
  min-width: 20%;
  padding: 15px;
}

.productImage__right {
  min-width: 80%;
}

.mini__image {
  width: 80%;
}

.mini__image:hover {
  border: 1px solid rgb(219, 65, 27);
  border-radius: 2px;
  box-shadow: 1px 1px 3px 3px rgb(255, 155, 40);
}

.normal__image {
  max-width: 100%;
}

@media screen and (max-width: 960px) {
  .productImage__body {
    width: 100%;
  }

  .productImage__main {
    justify-content: center;
    align-items: center;
  }
  .productImage__left {
    display: none;
  }

  .normal__image {
    width: 90%;
  }
}

/* ------------- Description ---------------*/

.productDesc__body {
  min-width: 40%;
  padding: 5px 20px;
}

.productDesc__rr {
  display: flex;
  padding: 10px 2px;
}

.productDesc__review {
  margin-left: 15px;
}

.productDesc__review h4 {
  color: rgb(61, 123, 173);
  font-weight: normal;
}

.productDesc__category {
  display: flex;
  align-items: center;
}

.productDesc__logo {
  background: #030e2f;
  margin: 5px 0;
}

.productDesc__logo h4 {
  color: white;
  padding: 5px;
  font-weight: normal;
  font-size: 14px;
}

.productDesc__logo span {
  color: #ff9900;
}

.productDesc__categoryName {
  margin-left: 10px;
}

.productDesc__categoryName a {
  text-decoration: none;
}

.productDesc__categoryName a:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

.productDesc__categoryName span {
  color: rgb(61, 123, 173);
  font-weight: normal;
  font-size: 12px;
}

.productDesc__main hr {
  margin: 15px 0px;
}

.productDesc__price h4 {
  color: grey;
  font-weight: 600;
  padding: 3px 5px;
  font-size: 15px;
  align-items: flex-end;
}

.productDesc__mrp {
  margin: 5px 18px;
  display: flex;
  align-items: center;
}

.productDesc__mrp h5 {
  color: grey;
  font-weight: 600;
  font-size: 15px;
  text-decoration: line-through;
  text-decoration-color: black;
}

.productDesc__listed {
  margin: 5px 27px;
  display: flex;
  align-items: center;
}

.productDesc__listed h5 {
  font-size: 16px;
  color: rgb(194, 43, 43);
}

.productDesc__savings {
  display: flex;
}

.productDesc__savingsInner h5 {
  font-size: 15px;
  font-weight: 500;
  color: rgb(194, 43, 43);
}

.productDesc__savingsInner p {
  color: black;
  font-weight: 600;
  margin: 2px 0;
  font-size: 13px;
}

.productDesc__pricePolicies {
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  /* margin-bottom: 55px; */
}

.method__details {
  border: 1px solid lightgray;
  padding: 10px 10px;
  display: none;

  position: absolute;
  background-color: rgb(212, 211, 211);
  margin-bottom: 10px;
}

.method__details h6 {
  margin: 5px 0;
}

.method__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.method__icon p {
  font-size: 14px;
  margin: 5px 0;
  color: rgb(61, 123, 173);
}

.method__icon i {
  color: rgb(47, 127, 192);
}

.method__icon p:hover {
  color: rgb(241, 143, 15);
}

.paymentMethod:hover .method__details {
  display: block;
}

.deliveryMethod {
  margin-left: 20px;
}

.deliveryMethod p {
  font-size: 14px;
  margin: 5px 0;
  color: rgb(61, 123, 173);
}

.deliveryMethod h6 {
  margin: 5px 0;
}

.deliveryMethod:hover .method__details {
  display: block;
}

.productDesc__available {
  color: green;
}

.productDesc__limited {
  color: rgb(241, 143, 15);
}

.productDesc__unavailable {
  color: rgb(219, 65, 27);
}

.productDesc__description {
  margin: 20px 0px;
}

.productDesc__description p {
  font-size: 18px;
  padding: 10px 10px;
}

/* --------------- Buying ---------------- */
.productBuy__body {
  min-width: 20%;
  padding: 10px 10px;
}

.productBuy__share {
  display: flex;
  margin: 0px 10px;
  align-items: center;
}

.productBuy__share button {
  margin: 0px 5px;
}

.productBuy__share p {
  color: rgb(47, 127, 192);
  margin-right: 10px;
}

.productBuy__main {
  margin: 10px 10px;
  padding: 20px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  min-height: 35vh;
}

.productBuy__quantity label {
  width: 100px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
}

.productBuy__quantity select {
  padding: 2px;
}

.productBuy__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.productBuy__formButtons {
  margin: 5px 0;
  width: 100%;
}

.form__button {
  margin: 20px 0px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  text-align: center;
}

/* .form__button p {
  width: 100%;
} */

.form__button i {
  /* width: 10%; */
  font-size: 12px;
  color: white;
  padding: 2px 2px;
}

.form__button__i {
  width: 20%;
  padding: 3px 3px;
  background-color: #0e2364;
  margin-left: 5px;
  margin-right: 40px;
  border-radius: 2px;
}

.bn {
  cursor: pointer;
  background: #f0c14b;
  background-color: #a88734 #9c7e31 #846a29;
  border: 1px solid rgb(148, 147, 147);
  border-radius: 5px;
}

.bn:hover {
  background: #f1ca66;
}

.atc {
  cursor: pointer;
  background: #f09b4b;
  background-color: #a87634 #9c6e31 #845a29;
  border: 1px solid rgb(148, 147, 147);
  border-radius: 5px;
}

.atc:hover {
  background: #eb8322;
}

.productBuy__secure {
  display: flex;
}

.productBuy__secure p {
  color: rgb(47, 127, 192);
  margin-left: 15px;
}

.productBuy__secure p:hover {
  color: rgb(241, 143, 15);
  cursor: pointer;
}

.productBuy__secure i {
  color: rgb(104, 104, 104);
  margin-left: 5px;
}

.productBuy__form hr {
  margin: 20px 5px;
}

.atw {
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .productBuy__main {
    margin: 20px 20px;
    padding: 40px 40px;
  }
  .productBuy__form {
    align-items: center;
  }

  .productBuy__formButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .form__button {
    width: 35%;
    margin: 10px 0;
  }
}
