.ProductDetails{
    width:75%;
    height: max-content;
    padding-left: 1vw;
}

.ProductDetails p{
    font-size: 1vw;
    font-weight: bold;
}

.ProductDetails_Name{
    color: rgb(0, 75, 189);
    margin: 1vw 0;
}

.ProductDetails_Price{
    color: brown;
    font-size: 1.4vw;
    margin-bottom: 1vw;
}

.ProductDetails_Price span{
    color: black;
    font-size: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
}


@media only screen and (max-width: 961px) {
    .ProductDetails{
        width: 80%;
        padding-left: 2vw;
    }
}