.product__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.productCard__container {
  flex: 0 30%;
  margin: 40px 0px;
  background: rgb(240, 237, 237);
  border-radius: 5px;
  box-shadow: 5px 2px 5px lightgray;
  height: 380px;
  max-height: 380px;
}

.productCard__item {
  padding: 10px;
  /* width: 100%; */
}

.productCard__item__img {
  width: 100%;
  max-width: 100%;
  height: 180px;
  min-height: 200px;
  max-height: 200px;
  object-fit: contain;
}

.productCard__links {
  text-decoration: none;
  color: black;
}

.productCard__item__text {
  width: 10em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 10px 0;
  text-align: center;
  font-size: 15px;
}
.productCard__item__info {
  margin-top: 10px;
}
.productCard__item__price {
  margin: 5px 2px;
  padding: 5px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCard__item__listedP {
  color: rgb(214, 13, 13);
  font-size: 18px;
  margin-right: 10px;
}

.productCard__item__actualP {
  font-size: 15px;
  text-decoration-line: line-through;
  text-decoration-color: black;
}

.productCard__item__buttonContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.productCard__item__button {
  width: 105px;
  max-width: 105px;
  /* min-width: 60px; */
  padding: 2px 3px;
  cursor: pointer;
  background: #f0c14b;
  border-radius: 2px;
  height: 30px;
  border: none;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}

.productCard__item__button:hover {
  background: #f1ca66;
}

.productCard__item__textRating {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rating__container {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating__container__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.rating__container__link h5 {
  font-size: 12px;
  margin-left: 5px;
  font-weight: normal;
}

.rating__container__link:hover h5 {
  text-decoration: underline;
  color: #ff9529;
}

@media screen and (max-width: 1240px) {
  .product__items {
    flex-direction: column;
  }

  .productCard__container {
    max-width: 400px;
    min-height: 400px;
    max-height: 500px;
  }
  .productCard__item__img {
    width: 100%;
    max-width: 100%;
    height: 250px;
    max-height: 250px;
    object-fit: contain;
  }
}
