.PaymentStatusMessage{
    height: max-content;
    background-color: #f2f2f2;
    margin: 3vw 8vw;
    padding:2vw;
}

.PaymentStatusMessage h2{
    color: rgb(189, 33, 5);
    margin-bottom: 1vw;
    font-size: 2vw;
}

.PaymentStatusMessage h4{
    font-size: 1.2vw;
}