.reviewSummary__main {
  min-height: 50vh;
  padding: 10px 10px;
}

.reviewSummary__ratings {
  margin: 10px 12px;
  color: rgb(92, 92, 92);
}

.rating__stars {
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.rating__stars h4 {
  margin-left: 20px;
}

.displayReview {
  padding: 10px 10px;
}

.reviewCard {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 50px 0;
  padding: 10px 10px;
  width: 70%;
  box-shadow: 2px 2px 2px lightgray;
}

.displayReview__main {
  margin-top: 30px;
}

.reviewCard__avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.reviewCard__head {
  display: flex;
  margin: 10px 5px;
  flex-direction: column;
}

.reviewCard__head h5 {
  margin-left: 20px;
}

.reviewCard__user {
  display: flex;
  align-items: center;
}

.reviewCard__rating {
  margin: 10px 15px;
  display: flex;
}

.reviewCard__rating p {
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.reviewCard__body {
  margin: 10px 20px;
  padding: 10px 0px;
}

.reviewCard__response {
  display: flex;
  margin-top: 50px;
}

.reviewCard__like {
  align-items: center;
  display: flex;
  width: 50px;
  justify-content: space-around;
}

.reviewCard__like p {
  font-size: 20px;
}

.reviewCard__like i {
  font-size: 20px;
  color: rgb(39, 80, 168);
}

.reviewCard__dislike {
  align-items: center;
  display: flex;
  width: 50px;
  justify-content: space-around;
  margin-left: 20px;
}

.reviewCard__dislike p {
  font-size: 20px;
}

.reviewCard__dislike i {
  font-size: 20px;
  color: rgb(168, 58, 39);
}

.addReview h4 {
  font-weight: normal;
  margin: 10px 0;
}

.addReview__button {
  margin: 20px 10px;
  height: 30px;
  width: 90%;
}

.addReview__button:hover {
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .reviewSummary__main {
    display: none;
  }

  .reviewCard {
    width: 100%;
  }
}
