.CouponCard{
    display: flex;
    margin-bottom: 1vw;
}

.CouponCode{
    padding: 0;
    font-weight: bold;
    width:50%;
    font-size: smaller;
}

.CouponCode p{
    font-size: 1vw;
}

.ApplyCouponButton{
    align-self: center;
    width: 39%;
    font-weight: bold;
}
.ApplyCouponButton button{
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1vw;
    width:max-content;
    outline: none;
    border: none;
}

.ApplyCouponButton button:hover{
    background-color: black;
    color: white;
}

.RemoveCouponButton{
    align-self: center;
}

.RemoveCouponButton button{
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    float: left;
}

