.CardDetails form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.CardDetails input{
    width:15vw;
    height: 3vh;
}

.CardDetails input[type='submit']{
    margin-top: 2.5vh;
    width:max-content;
    border: none;
    overflow: none;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 3vw;
}

.CardName, .CardNumber, .Card_CVV{
    display: flex;
    flex-direction: column;
}

.CardDetails select{
    height: 3vh;
}

#year{
    margin-left: 1vw;
}

@media only screen and (max-width: 961px){
    .CardDetails form{
        flex-direction: column;
        padding-left: 5vw;
    }
    .CardDetails input{
        width:90%;
        margin-bottom: 3vh;
    }
    .Card_Expiry{
        margin-bottom: 3vh;
    }
    .Card_CVV input{
        width: 20%;
    }
}