.Review{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: #f2f2f2;
    padding: 5vh;
}

.SuccessMessage{
    font-weight: bold;
    color: brown;
    font-size: 1vw;
}