.banner {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: -1; */
}

.banner__link {
  width: 100px;
}

.banner_image {
  width: 100vw;
  /* height: 100vh; */
  height: 550px;
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.01)); */
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
  margin-bottom: -150px;
  object-fit: cover;
}

@media screen and (max-width: 960px) {
  .banner_image {
    margin-bottom: 0;
    height: 50vh;
    mask-image: none;
    z-index: -1;
  }
}

.banner_back {
  position: absolute;
  top: 50%;
  left: 32px;
  color: rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.banner_forward {
  position: absolute;
  top: 50%;
  right: 32px;
  color: white;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(0.98);
}
