.PlacedOrders{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5vh;
}

.PlacedOrders-order{
    width: 70%;
    margin-bottom: 3vh;
}

.PlacedOrderMessage{
    font-size: 1.2vw;
    font-weight: bold;
}