.bodyBanner__main {
  border: 1px solid gray;
  width: 100%;
  position: relative;
  height: 500px;
  /* display: inline-block; */
}

.bodyBanner__textContainer {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
  z-index: 1;
  background: transparent;
}

.bodyBanner__textContainer::before {
  content: "";
  display: inline-block;
  height: 40%;
  vertical-align: middle;
}

.bodyBanner__img {
  /* object-fit: contain; */
  width: 100%;
  max-width: 100%;
  opacity: 0.5;
  height: 500px;
  /* display: block; */
}

.bodyBanner__text {
  font-size: 50px;
  font-family: "Dela Gothic One", cursive;
  font-weight: Bolder;
  color: white;
  /* background: black; */
  z-index: 1;
  padding: 5px 5px;
  text-shadow: 5px 5px 5px black;
}

/* @media screen and (max-width: 960px) {
  .bodyBanner__text {
    font-size: 25px;
  }
} */

@media screen and (max-width: 1240px) {
  .bodyBanner__text {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .bodyBanner__text {
    font-size: 25px;
  }
}
