.Orders{
    background-color: white;
}

.Orders_Tabs{
    background-color: #f2f2f2;
    width: 80%;
    margin-left: 10%;
    height: 4vw;
}

.Unselected{
    background-color: inherit;
    border:none;
    height: 4vw;
    width: 10vw;
    font-weight: bold;
    font-size: 1vw;
}

.Selected{
    background-color: rgb(83, 83, 83);
    color: white;
    outline: none;
    border:none;
    height: 4vw;
    font-weight: bold;
    font-size: 1vw;
    width: 10vw;
}

