hr {
  border: 0;
  height: 1px;
  background-color: rgb(199, 196, 196);
}

.body__hr {
  border: 1px solid rgb(199, 196, 196);
  min-height: 100vh;
  margin: 20px 0;
  height: auto;
}

.pl__body {
  display: flex;
  flex-direction: column;
}

.pl__body__header {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.pl__body__header__links {
  justify-content: space-around;
  text-decoration: none;
  color: rgb(122, 121, 121);
  font-size: 16px;
  text-transform: uppercase;
}

.pl__body__header__links:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: orange;
  text-underline-offset: 5px;
  color: rgb(88, 86, 86);
}

.pl__body__main {
  display: flex;
  min-height: 100vh;
}

.pl__body__main__sidebar {
  width: 20%;
  margin-top: 5%;
}

.pl__body__main__content {
  width: 80%;
  margin: 30px 20px;
}

.pl__body__main__items {
  margin: 50px 20px;
}

.pl__body__main__items p {
  font-size: 25px;

  font-weight: normal;
}

.pl__body__main__grid {
  max-width: 100%;
}

@media screen and (max-width: 960px) {
  .pl__body__header__links {
    font-size: 13px;
  }

  .pl__body__main__sidebar {
    display: none;
  }

  .pl__body__main__content {
    width: 100%;
  }
}
