.OrderHeader{
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    border: 0.1vw solid #d9d9d9;
    padding: 1vw 2vw;
}
.OrderHeader p{
    font-size: 1vw;
    color: #4d4d4d;
    font-weight: bold;
}

.left-div{
    display: flex;
}

.left-div div{
    margin-right: 3vw;
}

.Ship-to{
    color:rgb(23, 111, 184);
    position: relative;
}


.TooltipText {
    visibility: hidden;
    width: 10vw;
    background-color: #636363;
    color: white;
    text-align: center;
    padding:1vw;
    position: absolute;
    top: 150%;
    left: 100%;
    margin-left: -60px;
  }

  .TooltipText::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #636363 transparent;
  }

  .Ship-to:hover .TooltipText{
    visibility: visible;
}

.Ship-to:hover{
    color: chocolate;
}
