.navbar_search {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  width: 55vw;
  margin-top: 8px;
  max-width: 450px;
  left: 0;
  margin-right: 100px;
  transform: translate(40%);
}

.navbar_search > input {
  flex: 1;
  font-size: medium;
  border: none;
  color: white;
  /* padding: 10px 20px; */
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

.navbar_search > input:focus {
  outline-width: 0;
}

.navbar_searchIcon {
  padding: 5px;
  height: 25px !important;
  color: gray;
  /* background-color: #4ca1af; */
}

.navbar_searchIcon:hover {
  color: rgb(255, 255, 255);
}
