.PayOnDelivery{
    width:70%;
    margin-bottom: 5vh;
}

.SelectedStyle{
    width:70%;
    margin-bottom: 2vh;
    background-color: #f2f2f2;
    padding-left:1vw;
}

.SelectedStyle p{
    font-weight: bold;
    margin-top: 1vw;
}