.BillDetails{
    background-color: #f2f2f2a4;
    width: 40%;
    height: max-content;
    padding: 2vw;
    padding-left: 4vw;
    font-size: 1.2vw;
}
.BillDetails_Button{
    margin-top: 3vw;
    margin-left: 20%;
}
