.stars-outer {
  display: inline-block;
  position: relative;
}

.stars-outer > i::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #e7821d;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-inner > i::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}
