#btn--add-product {
    background-color : rgb(0, 153, 255);
    color: white;
    float: right;
    margin-right: 2rem;
    margin-bottom: 2rem;
    position: fixed;
    width: 50px;
  height: 50px;
    right: 0;
    bottom: 0;
    -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid rgb(0, 153, 255);
  outline:none; 
  }

  @media only screen and (max-width: 480px) {
    #btn--add-product {
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 45px;
        height: 45px;
    }

}
