.button {
  background: #101010;
  padding: 1.2rem;
  border: 1px solid #101010;
  color: #fff;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
  background: lighten(#101010, 10%);
  border: 1px solid lighten(#101010, 10%);
  text-decoration: none;
}

.button-border {
  background: transparent;
  border: 1px solid #101010;
  color: #101010;
}

.button:hover {
  background: #101010;
  border: 1px solid #101010;
}

.button-small {
  padding: 0.8rem;;
}
