@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    background-color:#f6f9fd;
}

#loading-spinner {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

.grid {
  width: 85%;
  padding: 1.2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 25px;
  text-align: center;
  margin: auto;
}

.grid > article {
  width: 100%;
  height: 400px;
  -webkit-box-shadow: 0 9px 37px rgb(13 38 86 / 8%);
  box-shadow: 0 9px 37px rgb(13 38 86 / 8%);
  border: none;
  border-radius: .75rem;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
}

.product-img-container {
  align-items: center;
  height: 52%;
  padding: 10px;
  border-bottom: 1px solid #ebf2f0;
}

.product-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}


.product-details-container {
  padding: 0.5rem 1rem 0rem 1rem;
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  margin: 0;
  font-weight: bold;
}

.rating-container {
  display: flex;
  justify-content: space-evenly;
}

.rating-container-link {
  width: 100%;
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 0.5rem;
  color: darkgray;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-size: 14px;
}

.stars-outer > i::before {
  content: "\f005 \f005 \f005 \f005 \f005";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-inner > i::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.rating-text {
  margin: 0;
  padding-left: 1.2rem;
  color:black;
  font-size: 14px;
}

.products-units-container {
  display: flex;
  justify-content: space-evenly;
}

.units-left, .units-sold {
  display: flex;
  align-items: center;
}

.units-left p, .units-sold p {
  margin: 0;
  padding: 0 0.3rem;
}

.units-left i, .units-sold i {
  font-size: 12px;
  color: darkgray;
}

.products-price-container {
  display: flex;
  justify-content: center;
}

.listed-price, actual-price {
  padding: 0 0.3rem;
}

.listed-price {
  font-size: 1.2rem;
}

.actual-price {
  font-size: 0.8rem;
}


.product-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.prod-price-btn {
  width: 6rem;
  border-radius: .40rem;
  padding: 10px 20px;
  background-color: rgb(0, 153, 255);
  border-style: none;
  color: #fff;
}

.prod-price-btn:hover {
  cursor: pointer;
}

.material-add-icon {
  font-size: 50;
}

@media only screen and (max-width: 480px) {
  .grid {
    width: 95%;
  }
}
