.Loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 20%;
}

.LoaderText{
    color: rgb(0, 75, 189);
    font-weight: bold;
    font-size: 1.5vw;
}

.LoaderIcon{
    width:2.5vw;
    height: 2.5vw;
    border:0.7vw solid #e9e8e8;
    border-top:0.7vw solid rgb(0, 75, 189);
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin-top: 1vw;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }