.form_register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  margin: 20px 50px;
}

.form_registerOptions {
  display: flex;
  /* justify-content: space-evenly; */
  /* width: 100%; */
  margin-top: 20px;
}

.form_registerContainer {
  width: 600px;
  height: auto;
  /* border-radius: 5px; */
  display: flex;
  flex-direction: column;
  border-top: none;
  padding: 20px;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 5px lightgray;
}

.register_button.active {
  background-color: darkgray;
}

.register_button {
  width: 300px;
  height: 50px;
  border: none;
  box-shadow: 1px 1px 5px lightgray;
  outline-style: none;
}

.form_registerbutton {
  position: relative;
  cursor: pointer;
  margin-top: 30px;
  left: 30%;
  width: 200px;
  height: 40px;
  background: #f0c14b;
  background-color: #a88734 #9c7e31 #846a29;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightgray;
}

.form_registerbutton:hover {
  background: #f1ca66;
}

.form_register_inner {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 960px) {
  .form_registerContainer {
    width: 400px;
    height: auto;
    /* border-radius: 5px; */
    display: flex;
    flex-direction: column;
    border-top: none;
    padding: 20px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 5px lightgray;
  }

  .register_button {
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 1px 1px 5px lightgray;
    outline-style: none;
  }

  .form_registerbutton {
    width: 150px;
  }

  .form_register_inner {
    display: block;
  }
}

@media screen and (max-width: 812px) {
  .form_register {
    padding: 20px 20px;
    margin: 20px 50px;
  }

  .form_registerContainer {
    width: 300px;
  }
}
