.dropdown_menu {
  width: 200px;
  position: absolute;
  top: 80px;
  right: 80px;
  list-style: none;
  z-index: 2;
  text-align: start;
}

.dropdown_menu li {
  background-color: #1888ff;
  cursor: pointer;
}

.dropdown_menu li:hover {
  background: #5cabff;
}

.dropdown_menu.clicked {
  display: none;
}

.dropdown_link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}
