/* .navbar__Link {
  text-decoration: none;
} */

.navbar_wishlist {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.navbar_wishlistIcon {
  height: 20px !important;
}

.navbar_wishlistText {
  font-size: 15px;
  text-transform: uppercase;
}
