.input_container {
  display: flex;
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px;
  flex-direction: column;
  min-width: 250px;
  max-width: 350px;
}

.input_label {
  width: 100%;
  font-size: 15px;
  margin-bottom: 5px;
}

.input_inputBox {
  background-color: rgb(245, 245, 245);
  width: 90%;
  height: 30px;
  padding: 10px 10px;
  border: 1px solid rgb(153, 152, 152);
  border-radius: 5px;
}

.input_inputBox::placeholder {
  color: rgb(163, 162, 162);
  font-size: 12px;
}

@media screen and (max-width: 960px) {
  .input_inputBox {
    width: 90%;
  }
}
