.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar_logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.navbar_menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 5px;
  list-style: none;
  text-align: center;
  width: 100vw;
  justify-content: end;
  margin-right: 2.5rem;
}

.navbar_item {
  display: flex;
  align-items: center;
  height: 80px;
}

.navbar_links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar_links:hover {
  background-color: white;
  color: black;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-caret-down {
  margin-left: 0.5em;
}

.fa-bars {
  color: #fff;
}

.navbar_links_mobile {
  display: none;
}

.menu_icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }

  .navbar_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navbar_search {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(55%, 35%);
    width: 50vw;
  }
  .navbar_menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 2;
  }

  .navbar_links {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .navbar_links:hover {
    background-color: white;
    color: black;
    border-radius: 0;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(30%, 50%);
  }

  .menu_icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
}
