.footer_column {
  padding: 20px 10px;
}

.footer_column > ul {
  list-style-type: none;
  text-align: left;
}

.footer_column > h2 {
  color: rgb(212, 211, 211);
}

.footer_column > ul > li {
  margin-top: 8px;
  padding: 2px 0;
}

.footer_link {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 0.2rem 0.19rem;
}

.footer_link:hover {
  background-color: white;
  color: black;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-instagram {
  padding: 2px;
  margin-left: 5px;
}

.fa-twitter {
  padding: 2px;
  margin-left: 5px;
}

.fa-facebook-square {
  padding: 2px;
  margin-left: 5px;
}
