.cartmain h1 {
  font-size: 38px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#main {
  display: flex;
  margin-left: 80px;
  margin-top: 40px;
}
.info {
  margin-left: 29px;
  margin-right: 120px;
  font-family: "";
  font-weight: bold;
}
#description {
  text-transform: capitalize;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}
.price {
  display: flex;
  margin-top: 15px;
}

.actual-price {
  text-decoration: line-through;
  font-size: 12px;
  padding-top: 2px;
}
.listed-price {
  font-size: 13.5px;
  margin-left: 5px;
  color: rgb(189, 52, 52);
}

.cartlayout {
  display: flex;
}
.ProductList {
  width: 58%;
}
#product-image {
  height: 30vh;
  width: 15vw;
  object-fit: contain;
  padding-bottom: 20px;
}
.ordersummary {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  margin-top: 50px;

  width: 30%;
  height: 250px;

  align-items: center;

  background-color: whitesmoke;
  box-shadow: gray;
}
.ordersummary p {
  margin-left: 5px;
  color: rgb(189, 52, 52);
  font-weight: bold;
  margin-top: 26px;
}
.ordersummary h2 {
  color: #050400;
  text-align: center;
}
.ordersummary button {
  margin-left: 85px;
  background-color: #f5ce00;
  margin-top: 110px;
  border-radius: 3px;

  width: 16vw;
  height: 4.5vh;
  margin-bottom: 1vh;
  border: 1px solid #cccccc;
  font-weight: bold;
  font-size: small;
}
.ordersummary button:hover {
  cursor: pointer;
}

.stock {
  font-size: 12px;
  color: #b39d34;
  margin-top: 10px;
}

@media screen and (max-width: 980px) {
  .Cartmain h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #main {
    display: unset;
  }
  .cartlayout {
    display: block;
  }

  .ProductList {
    width: unset;
    height: unset;
  }
  #product-image {
    height: 22vh;
    width: 33vw;
    object-fit: contain;
  }
  .ordersummary {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    width: 100%;
    height: 120px;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: gray;
    font-size: 10px;
    color: #b39d34;
  }

  .info {
    margin-right: 10px;
    font-family: "";
    font-weight: bold;
    text-align: center;
  }
  .price {
    text-align: center;
    margin-left: 25px;
  }
  .actual-price {
    text-decoration: line-through;
    font-size: 12px;
  }
  .listed-price {
    font-size: 12.5px;
    margin-left: 12px;
  }
  .gallery img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .ordersummary button {
    background-color: #f5ce00;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 8px;
    width: 100px;
    margin-right: 75px;
  }
}
