.form_login {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -55%);
}

.form_container {
  min-width: 400px;
  height: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 5px lightgray;
}

.form_container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__error {
  color: red;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.form_newUser p {
  margin-top: 40px;
  font-size: 17px;
}
