.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

.footer_row {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 20px;
  margin: 20px;
}

.footer_row p {
  color: rgb(207, 204, 204);
  padding-bottom: 10px;
}

@media screen and (max-width: 960px) {
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }
}
