.PageHeading{
    text-align: center;
    margin-top: 3vw;
    font-size: 2vw;
    font-weight: bold;
    color: rgb(48, 48, 48);
}

.PageHeading hr{
    width: 80%;
    margin-left: 10%;
    border : 0.01vw solid rgb(48,48,48);
    margin-top: 2vw;
}