.button {
  padding: 1.8em 3.2em;
  background: #101010;
  color: #fff;
  border: 1px solid #101010;
  font-weight: bold;
  width: max-content;
  border-radius: 8px;
  margin: 1rem 0;
}

.button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .button {
    margin: 1rem auto;
    padding: 1.2em 2.6em;
  }
}
