body {
  background-color: #f9f9f9;
}

.bg-pattern {
  background-image: url(../../images/pattern-2.svg);
  background-position: top;
  background-repeat: repeat;
  background-size: 100%;
}

.product-form-container .form-heading {
  padding-left: 1.2em;
  text-align: left;
}

.product-form-container {
  padding: 2.4em;
  font-size: 65%;
}

.form-tabs {
  display: flex;
  padding: 0em 2.4em;
}

.form-tab-link {
  text-decoration: none;
  padding: 1.2em 1.2em;
  margin: 0 0.3em;
  background: #ede8e8;
  border: 1px solid #ede8e8;
  color: #101010;
  width: max-content;
}

.link-active {
  border-bottom: 3px solid #101010;
}

.flash {
  width: 100%;
  top:0;
  left: 0;
  right: 0;
  position: fixed;
  background: #cc0000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  transition: height 0.4s;
  font-size: 1.2em;
  font-family: "Tajawal", Helvtica, Arial, sans-serif;
}
.flash-visible {
  height: 30px;
  transition: height 0.2s;
  background: #cc0000;
}

.product-form {
  width: 100%;
  display: block;
}

.product-form-wrapper {
  display: flex;
}

.product-form-inputs {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.product-form-img-upload {
  width: 25%;
  padding: 0 2.4em;
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.product-form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em 2.4em;
}

.toggle-switch-container {
  width: 15%;
}

.label-input,
.label-img-upload,
.label-file-upload {
  font-size: 1.2em;
  font-family: "Tajawal", Helvtica, Arial, sans-serif;
  font-weight: bold;
}

.label-file-upload {
  font-size: 2em;
  font-weight: bolder;
}
label:hover {
  cursor: pointer;
}

.label-input {
  padding: 1em 0;
  color: #686868;
}

.label-img-upload {
  width: max-content;
  padding: 1.2em 1.6em;
  background-color: #101010;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 0.25rem;
}

.label-file-upload {
  padding: 4em 1.6em;
  background: #fff;
  text-align: center;
  border: 1px dashed #101010;
}

textarea {
  font-family: "Tajawal", Helvtica, Arial, sans-serif;
}

.input-form-field {
  padding: 10px 1.6em !important;
  font-size: 1.6em !important;
  outline: none;
  border: 1px solid rgb(182, 179, 179);
  border-radius: 0.25rem;
  background-color: #fff;
  color: #495057;
}

.select-form-field {
  padding: 10px 1.6em !important;
  font-size: 1.6em !important;
  box-sizing: border-box;
  outline: none;
  border: 1px solid rgb(182, 179, 179);
  border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #495057;
}

.product-form-img-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.2em 0;
}

.img-upload-wrapper {
  width: 100%;
  height: 200px;
  border: 1px dashed rgb(182, 179, 179);
  background-image: url("https://static.thenounproject.com/png/741102-200.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40% 60%;
}

.img-preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.errorMsg {
  color: #cc0000;
  font-size: 1.2em;
  padding-top: 4px;
}

@media only screen and (max-width: 480px) {
  .product-form-container {
    padding: 2em;
  }

  .product-form-wrapper {
    display: block;
  }

  .product-form-container .form-heading {
    padding-left: 0em;
  }

  .form-tabs {
    padding: 0;
  }

  .form-tab-link {
    padding: 0 0.4em;    
  }

  .form-tabs-item {
    width: 100%;
    padding: 0em 1em 0em 0em;
    text-align: center;
  }

  .toggle-switch-container {
    width: 100%;
  }

  .product-form-inputs {
    width: 100%;
  }

  .product-form-img-upload {
    width: 100%;
    padding: 1.2em 0;
  }

  .flex-row {
    flex-direction: column;
  }

  .product-form-field {
    padding: 0;
  }

  .input-form-field {
    padding: 10px 1.6em !important;
    font-size: 1.2em !important;
  }

  .select-form-field {
    padding: 10px 1.6em !important;
    font-size: 1.2em !important;
  }

  .errorMsg {
    color: #cc0000;
    font-size: 1em;
    padding: 4px 0;
  }
}
