.yellowButton {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
  background: #f0c14b;
  background-color: #a88734 #9c7e31 #846a29;
  margin-top: 30px;
  box-shadow: 5px 5px 5px lightgray;
  padding-bottom: 5px;
}

.yellowButton:hover {
  background: #f1ca66;
}

.normalButton {
  cursor: pointer;
  width: 100%;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: rgb(104, 104, 104);
  border: 1px solid;
}

.normalButton:hover {
  border-color: rgb(116, 116, 116);
}
