.reviewSection__main {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
}

.reviewSection__left {
  /* border: 1px solid red; */
  min-width: 30%;
  padding: 20px 20px;
}

.reviewSection__right {
  padding: 20px 20px;
  min-width: 70%;
}

@media screen and (max-width: 960px) {
  .reviewSection__main {
    flex-direction: column;
  }
}
