.quantity h4 {
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 12px;
}
.counter-button {
  display: flex;
}

/* .counter-button button {
  width: 17vw;
  height: 5vh;
  margin-bottom: 1vh;
  background-color: #e6e6e6;
  border: 1px solid #cccccc;
  font-weight: bold;
  font-size: small;
} */
.counter-button .incDec {
  background-color: #f5ce00;
  width: 3.3vh;
  margin: 2px;
  border: 1px solid #cccccc;
  height: 3.3vh;
  border-radius: 5px;
}
.counter-button .deletecart {
  /* padding-top: 20px; */

  background-color: rgb(206, 203, 203);
  width: 4.2vh;
  /* margin: 2px; */
  border: 1px solid #cccccc;
  margin-left: 10px;
  margin-top: 2px;
  height: 3.3vh;
  border-radius: 5px;
  font-size: small;

  /* width: 30px;
  height: 30px;
  margin-top: 20px; */
}
.counter-button .deletecart:hover {
  cursor: pointer;
  background-color: #eb756b;
}
.counter-button button:hover {
  cursor: pointer;
  background-color: rgb(206, 203, 203);
}
#cart {
  margin-top: 15px;
}
#cart p {
  font-size: 13px;
  margin-top: 10px;
}
#item-total {
  font-size: 15px;
}

@media screen and (max-width: 980px) {
  .counter-button {
    /* display: block; */
    margin-left: 124px;
  }
}
