.Card{
    width:70%;
    padding:2vw;
    padding-left: 0;
}

.SelectedStyle{
    width: 70%;
    background-color: #f2f2f2;
    padding:2vw;
    padding-left:1vw;
}

.Card_Logo img{
    width: 20%;
    height: 50px;
    margin: 2vh 0;
}

@media only screen and (max-width: 961px){
    .Card_Logo img{
        width:30%;
    }
}