* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "PT Sans", sans-serif; */
}

.main_container {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

.main_body {
  flex: 1;
  min-height: 100vh;
}
