.OrderFilter{
    height: 5vh;
    margin: 3vw;
    margin-left: 15%;
    width: 66%;
    font-weight: bold;
    font-size: 1.3vw;
}

.OrderFilter select{
    height: max-content;
    width: max-content;
    margin-left: 1vw;
    padding:0.2vw;
    font-size: 1vw;
}